<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>纽罗口腔</title>
    <link href="../../css/Common/weui.min.css" rel="stylesheet">
    <link href="../../css/Common/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/Custom/WeChart/style.css" rel="stylesheet">
</head>
<body class="bg_color">

<section id="account_detail">
    <div ng-controller="AccountDetailController">
        <div class="weui-flex" style="background-color: darkolivegreen;">
            <div class="weui-flex__item" style="color: white;height: 50px;text-align: center;"><label
                    style="line-height: 50px;">我的账单</label></div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="page__bd">
                    <div class="weui-cells mg_3">
                        <div class="weui-cell__bd" style="padding: 0px 10px 0 10px;">
                            <div style="height: 40px;">
                                <p style="font-weight: bold;">账单号：<span ng-bind="currentAccount.BillNoStr"></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="weui-cells mg_3">
                        <div class="weui-cell__bd" style="padding: 0px 10px 0 10px;">
                            <div ng-repeat="detail in currentAccount.CostList" ng-if="$index == 0">
                                <p style="display: inline-block" ng-bind="showName(detail)"></p>
                                <span class="pull-right" style="color:#ff6600">￥<span ng-bind="detail.DiscountPrice"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="weui-cells mg_3">
                        <div class="weui-cell__bd" style="padding: 0px 10px 0 10px;">
                            <div>
                                <p style="display: inline-block">当前状态</p>
                                <span class="pull-right" ng-bind="statusText(currentAccount.BillStatus)"></span>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="payItem in currentAccount.Pay">
                        <div class="weui-cells mg_15">
                            <div class="weui-cell__bd" style="padding: 0px 10px 0 10px;">
                                <div>
                                    <p style="display: inline-block">支付单号</p>
                                    <span class="pull-right" ng-bind="payItem.ThirdNO"></span>
                                </div>
                            </div>
                        </div>
                        <div class="weui-cells mg_3">
                            <div class="weui-cell__bd" style="padding: 0px 10px 0 10px;">
                                <div>
                                    <p style="display: inline-block">支付金额</p>
                                    <span class="pull-right" ng-bind="currentAccount.RealCharge"></span>
                                </div>
                            </div>
                        </div>
                        <div class="weui-cells mg_3">
                            <div class="weui-cell__bd" style="padding: 0px 10px 0 10px;">
                                <div>
                                    <p style="display: inline-block">支付方式</p>
                                    <span class="pull-right" ng-bind="payItem.PaymentTypeDisplay"></span>
                                </div>
                            </div>
                        </div>
                        <div class="weui-cells mg_3">
                            <div class="weui-cell__bd" style="padding: 0px 10px 0 10px;">
                                <div>
                                    <p style="display: inline-block">支付状态</p>
                                    <span class="pull-right" ng-bind="payItem.StatusDisplay"></span>
                                </div>
                            </div>
                        </div>
                        <div class="weui-cells mg_3">
                            <div class="weui-cell__bd" style="padding: 0px 10px 0 10px;">
                                <div>
                                    <p style="display: inline-block">支付时间</p>
                                    <span class="pull-right" ng-bind="payItem.CreateTime"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-cells" style="padding: 10px;" ng-show="currentAccount.BillStatus == 4">
                        <input type="button" ng-click="goToRefund();" value="申请退单" class="btn btn-success" style="width: 100%;height: 50px"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
<script src="../../js/Common/Jquery/jquery-2.1.1.min.js"></script>
<script src="../../js/Common/BootStrap/bootstrap.min.js"></script>
<script src="../../js/Common/Angular/angular.min.1-4-6.js"></script>
<script src="../../js/Custom/WeChart/resource.min.js"></script>
<script src="../../js/Custom/WeChart/accountDetail.min.js"></script>
</html>