<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <title></title>
    <link rel="icon" href="" type="image/x-icon" id="icon_link" />
    <link href="../css/Custom/style.css" rel="stylesheet">
    <link href="../css/Common/bootstrap.min.css" rel="stylesheet">
    <link href="../css/Common/validationEngine.jquery.css?03.13" rel="stylesheet">
</head>
<body>
    <div class="PasswordBG" ng-app="PasswordModule">
        <div class="pwd_top">
            <p>你当前位置：> 重置密码</p>
        </div>
        <div class="pwd_body" ng-controller="PasswordController">
            <div class="pwd_form" id="pwd_form">
                <form action="" class="form_body" autocomplete="off">
                    <div class="pwd_item">
                        <input type="text" class="form-control pwd_control" name="phoneNumber" ng-model="passwordInfo.Mobile" placeholder="请输入手机号">
                    </div>
                    <div class="pwd_item">
                        <input type="text" class="form-control pwd_user" id="inputCode" name="verificationCode" placeholder="请输入验证码">
                        <button type="button" class="code" id="checkCode" ng-click="createCode()"></button>
                        <a href="javascript:void(0);" class="CodeRefresh" ng-click="createCode()"></a>
                    </div>
                    <div class="pwd_item">
                        <input type="text" class="form-control pwd_code" name="invitCode" ng-model="passwordInfo.VerifyCode" placeholder="请输入短信验证码">
                        <button type="button" class="btn btn-primary" id="btn_getVerifiCode" ng-click="getVerifiCode();">获取验证码</button>
                    </div>
                    <div class="pwd_item">
                        <input type="password" name="password" class="form-control pwd_reset" ng-model="passwordInfo.Password" placeholder="密码至少6位" autocomplete="new-password">
                    </div>
                    <div class="pwd_item">
                        <button type="button" class="btn btn-info" ng-click="submit();">重置</button>
                    </div>
                </form>
            </div>
        </div>
        <footer class="navbar  navbar-fixed-bottom" style="text-align:center;">
            <h5 style="margin-top: 18px;">上海纽罗口腔管理平台&copy;2017&nbsp;&nbsp;沪ICP备16039368号-1</h5>
        </footer>
    </div>
</body>
<script src="../js/Common/Jquery/jquery-2.1.1.min.js"></script>
<script src="../js/Common/Angular/angular.min.1-4-6.js"></script>
<script src="../js/Common/Angular/angular-file-upload.1.3.1.js"></script>
<script src="../js/Common/Angular/angular-cookies.min.js"></script>
<script src="../js/Common/Jquery/formValidator-4.1.3.js"></script>
<script src="../js/Common/Jquery/formValidatorRegex.js"></script>
<script src="../js/Common/Jquery/jquery.validationEngine.js"></script>
<script src="../js/Common/Jquery/jquery.validationEngine-zh_CN.js"></script>
<script src="../js/Common/BootStrap/bootstrap.min.js"></script>
<script src="../js/Custom/common.min.js"></script>
<script src="../js/Custom/resetPassword.min.js"></script>
</html>