<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="icon" href="" type="image/x-icon" id="icon_link"/>
    <link href="../css/Common/bootstrap.min.css" rel="stylesheet">
    <link href="../css/Common/font-awesome.css" rel="stylesheet" />
    <link href="../css/Common/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="../css/Custom/Management/style.css" rel="stylesheet">
</head>
<body>
    <div class="modal fade" id="loading_div" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal_dialog_custom">
            <div class="cus_spinner">
                <div class="cus_spinner-container cus_container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="cus_spinner-container cus_container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="cus_spinner-container cus_container3">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
            </div>
        </div>
    </div>
    <header class="header">
        <content></content>
    </header>
    <aside>
        <section ng-controller='MenuController'>
            <menu></menu>
            <info></info>
        </section>
    </aside>
    <section id="main-content">
        <section class="wrapper" ng-controller="UserController">
            <div class="bd">
                <div class="bd_head">
                    <span class="span_dis fl_lf mr_sp">
                        <input type="text" placeholder="用户名/手机号" class="form-control round-input"
                               ng-model="searchRequest.Condition">
                    </span>
                    <span class="span_dis fl_lf mr_sp">
                        <button class="btn btn-primary" ng-click="searchUsers();">搜 索</button>
                    </span>
                    <span class="span_dis fl_rg">
                        <button class="btn btn-primary" ng-click="addNewUser();">添加新用户</button>
                    </span>
                </div>
                <div class="bd_body">
                    <div class="tb_head">
                        <span class="col_2">用户名</span>
                        <span class="col_3">性 别</span>
                        <span class="col_2">角 色</span>
                        <span class="col_2">手机号</span>
                        <span class="col_2">邮 箱</span>
                        <span class="col_1">操 作</span>
                    </div>
                    <div class="tb_item" ng-repeat="user in userList">
                        <span class="col_2" ng-bind="user.UserName"></span>
                        <span class="col_3" ng-bind="getGenderName(user.Gender)"></span>
                        <span class="col_2" ng-bind="user.RoleID"></span>
                        <span class="col_2" ng-bind="user.Mobile"></span>
                        <span class="col_2" ng-bind="user.Email"></span>
                        <span class="col_1">
                            <a href="javascript:void(0);" ng-click="editUser(user);" ng-if="user.Mobile != 'Administrator'">编辑</a>&nbsp;
                            <a href="javascript:void(0);" ng-click="deleteUser(user);" ng-if="user.Mobile != 'Administrator'">删除</a>
                        </span>
                    </div>
                    <div class="data_element page_footer" style="display: none;">
                        <div class="page_total">
                                <span class="pagination">
                                    <span>总记录数：</span>
                                    <span>{{totalCount}}</span>
                                </span>
                        </div>
                        <div class="page_total">
                            <span>页面大小：</span>
                            <span><select ng-options="item.Value as item.Value for item in pageSizeList"
                                          ng-model="searchRequest.Count" ng-change="changePageSize();"></select></span>
                        </div>
                        <div class="page_total">
                            <span class="pagination">
                                <span>第</span>
                                <input id="jump_page" type="text" ng-model="currentPageNum" ng-blur="jumpToPage();" style="width: 30%; text-align: center;">
                                <span>页</span>
                                <span>/共{{totalPages}}页</span>
                            </span>
                        </div>
                        <div class="page_num">
                            <div class="pagination">
                            </div>
                            <ul class="pagination">
                                <li ng-class="{'disabled': currentFivePages[0] <= 5}"><a href="javascript:void(0);" ng-click="prevPages();">&laquo;</a></li>
                                <li ng-repeat="item in currentFivePages" ng-class="{'active': currentPageNum == item}">
                                    <a href="javascript:void(0);" ng-click="switchToCurrentPage(item);">{{item}}</a>
                                </li>
                                <li ng-class="{'disabled': isDisabled()}"><a href="javascript:void(0);" ng-click="nextPages();">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 新增/编辑用户 Begin -->
            <div class="modal fade" id="new_user" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog em_modal_w em_modal_h">
                    <div class="modal-content modal_content_custom">
                        <div class="modal-header modal_head modal_header_height">
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <span class="head_title">用户信息</span>
                        </div>
                        <div class="modal-body em_bd">
                            <div class="em_item line_sp">
                                <span class="span_dis fl_lf em_item wid_1 txt_rg">
                                    姓名：
                                </span>
                                <span class="span_dis fl_lf em_item wid_4">
                                    <input class="form-control" type="text" placeholder="真实姓名"
                                             ng-model="currentUser.UserName">
                                </span>
                                <span class="span_dis fl_lf em_item wid_1 txt_rg">
                                    密码：
                                </span>
                                <span class="span_dis fl_lf em_item wid_4" style="position: relative;">
                                    <input name="empPassword" class="form-control cus_input" type="password" placeholder="初始密码"
                                           ng-model="currentUser.Password" style="display: inline-block;">
                                    <a class="icon-eye-open pass_eye" href="javascript:void(0);" ng-click="switchPassword();"
                                       style="position: absolute;z-index: 8888;left: 100%;top: 30%;"></a>
                                </span>
                            </div>
                            <div class="em_item line_sp">
                                <span class="span_dis fl_lf em_item wid_1 txt_rg">性别：</span>
                                <span class="span_dis fl_lf em_item wid_4">
                                    <select class="form-control" ng-model="currentUser.Gender"
                                            ng-options="x.Type as x.Name for x in genderList">
                                            <option value="">请选择性别</option>
                                    </select>
                                </span>
                                <span class="span_dis fl_lf em_item wid_1 txt_rg">岗位角色：</span>
                                <span class="span_dis fl_lf em_item wid_4">
                                    <select class="form-control" ng-model="currentUser.RoleID"
                                            ng-options="x.RoleID as x.RoleName for x in roleListWithoutPermission">
                                            <option value="">请选择岗位角色</option>
                                    </select>
                                </span>
                            </div>
                            <div class="em_item line_sp">
                                <span class="span_dis fl_lf em_item wid_1 txt_rg">手机号：</span>
                                <span class="span_dis fl_lf em_item wid_4">
                                    <input name="empMobile" type="text" class="form-control" placeholder="手机号，15214312968..."
                                           ng-model="currentUser.Mobile">
                                </span>
                                <span class="span_dis fl_lf em_item wid_1 txt_rg">出生日期：</span>
                                <span class="span_dis fl_lf em_item wid_4">
                                    <input id="em_birth" name="empBirthDate" type="text" class="form-control" placeholder="出生日期"
                                           ng-model="currentUser.Birthday">
                                </span>
                            </div>
                            <div class="em_item line_sp">
                                <span class="span_dis fl_lf em_item wid_1 txt_rg">邮箱：</span>
                                <span class="span_dis fl_lf em_item wid_4">
                                    <input name="empEmail" type="text" class="form-control" placeholder="邮箱"
                                           ng-model="currentUser.Email">
                                </span>
                            </div>
                        </div>
                        <div class="em_foot">
                            <button class="btn btn-primary" ng-click="saveUser();">保 存</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--新增/用户 End -->
        </section>
    </section>
    <footer class="footer footer_pal">
        <span class="footer_span">Copyright &copy;2016/07/04 www.eruka.com</span>
    </footer>
</body>
<script src="../js/Common/Jquery/jquery-2.1.1.min.js"></script>
<script src="../js/Common/BootStrap/bootstrap.min.js"></script>
<script src="../js/Common/BootStrap/bootstrap-datetimepicker.min.js"></script>
<script src="../js/Common/Jquery/formValidator-4.1.3.js"></script>
<script src="../js/Common/Jquery/formValidatorRegex.js"></script>
<script src="../js/Common/Jquery/jquery.validationEngine.js"></script>
<script src="../js/Common/Jquery/jquery.validationEngine-zh_CN.js"></script>
<script src="../js/Common/Angular/angular.min.1-4-6.js"></script>
<script src="../js/Custom/Management/common.min.js"></script>
<script src="../js/Custom/Management/userMG.min.js"></script>
</html>